<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class ="feed">
        <h1>Your feed</h1>
        <div class="status">
            <form>
                
            </form>
        </div>
        <div class="posts">
        <% posts.forEach(post => { %>
            <div class="post">
                <h3><%= post.author.name %></h3>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <p> <%= post.createdAt%></p>
            </div>
        <% });%>
        </div>
</div>
   
</body>
</html>

